<f:layout name="Default" />
<f:section name="main">
      <f:for each="{members}" as="member">
        <div class="col-lg-4 col-md-4 col-sm-12 flex_column-teachers" style="margin-bottom: 20px">
          <div class="single-teacher-item flex-direction-column">
            <div class="single-teacher-image">
              <f:if condition="{member.image}">
                <f:then>
                  <f:link.action action="detail" arguments="{member: member}">
                    <f:image image="{member.image}" alt="{member.name}" class="img-responsive" width="260" height="270" />
                  </f:link.action>
                </f:then>
                <f:else>
                  <img src="" alt="{member.name}" class="img-responsive" />
                </f:else>
              </f:if>
            </div>
            <div class="single-teacher-text flex-expand">
              <h3>
                <f:link.action action="detail" arguments="{member: member}">
                  <f:if condition="{member.prefix}">{member.prefix}&nbsp;</f:if>{member.name}&nbsp;{member.prezime}
                </f:link.action>
              </h3>
              {member.funkcija}
              <h4>{member.zvanje}</h4>
            </div>
          </div>
        </div>
      </f:for>

    <!-- Sidebar Group Widget -->
  <div class="col-md-3">
		<div class="sidebar-widget">
			<div class="single-sidebar-widget">
				<div class="tution-wrapper">
					<div class="tution-fee">
							<h4>Akademsko osoblje</h4>
					</div>
					<div class="tutor-image">
					</div>
					<div class="single-teacher-text">
            <f:render partial="GroupMenu" arguments="{groups: groups, currentGroup: currentGroup}" /> 
					</div>
				</div>
			</div>
		</div>
	</div>

</f:section>